name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  launch-docker:
    runs-on: ubuntu-latest
    
    env:
      DB_HOST: $DB_HOST
      DB_USER: $DB_USER
      DB_PASSWORD: $DB_PASSWORD
      DB_PORT: $DB_PORT
      DB_NAME: $DB_NAME

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Docker Compose
        run: docker-compose -f database/docker-compose.yml up -d

      - name: Check PostgreSQL Container Status
        run: docker-compose -f database/docker-compose.yml ps
         
